<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t "refuges.needs" %></h3>
    <hr>
  </div>
  <div class="panel-body">
    <% if refuge.last_questionnaire.nil? %>
      <%= t "refuges.no_questionnaire_registered" %>
    <% else %>
      <% if refuge.last_questionnaire.needs.blank? %>
        <%= t "refuges.no_needs_registered" %>
      <% else %>
        <table width="100%">
          <% refuge.last_questionnaire.needs.group_by{|x| x.entity}.each do |entity| %>
            <th colspan="2" class="th-header-styles"><%= entity.first.name %></th>
            <% entity.second.each do |need| %>
              <tr>
                <td><i class="glyphicon glyphicon-remove-sign item-status <%= entity_color(need.entity) %>"></i></td>
                <td><b><%= need.title %></b></td>
                <td>
                  <% any_engagement = need.first_in_engagement_list %>
                  <% if any_engagement.nil? %>
                    <%= link_to t("refuges.needs_assign"), new_front_refuge_need_assignment_path(refuge, need) %>
                  <% else %>
                    <a class="ui blue tag label"><%= any_engagement.person_in_charge.name %></a>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td></td>
                <td><p class="item-description"><%= need.description %></p></td>
                <td></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      <% end %>
    <% end %>
  </div>
</div>