<!-- /* 

=========================================================================== 
Koru GPL Source Code 
Copyright (C) 2017 Tekton Labs
This file is part of the Koru GPL Source Code.
Koru Source Code is free software: you can redistribute it and/or modify 
it under the terms of the GNU General Public License as published by 
the Free Software Foundation, either version 3 of the License, or 
(at your option) any later version. 

Koru Source Code is distributed in the hope that it will be useful, 
but WITHOUT ANY WARRANTY; without even the implied warranty of 
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
GNU General Public License for more details. 

You should have received a copy of the GNU General Public License 
along with Koru Source Code. If not, see <http://www.gnu.org/licenses/>. 
=========================================================================== 

*/ -->

<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t "refuges.history_of_needs" %></h3>
    <div class="right selector-styles">
      <%= form_tag historical_issues_by_entity_front_refuge_path, id: "historical-issues-#{refuge.id}", method: :get, remote: true do %>
        <%= select_tag :entity_id, options_from_collection_for_select(entities_all, 'id', 'name'), prompt: "#{t 'filter_select_all'}", id: "entity-selected-#{refuge.id}", class: 'form-control' %>
      <% end %>
    </div>
    <hr>
  </div>
  <div id="chart-content-<%= refuge.id %>" class="panel-body">
    <%= render 'front/refuges/analysis_tab/line_chart_content', line_size: @line_size, line_data: @line_data %>
  </div>
</div>

<script type="text/javascript">
  $("#entity-selected-<%= refuge.id %>").on('change', function() {
    $("#historical-issues-<%= refuge.id %>").submit();
  })
</script>