<!-- /* 

=========================================================================== 
Koru GPL Source Code 
Copyright (C) 2017 Tekton Labs
This file is part of the Koru GPL Source Code.
Koru Source Code is free software: you can redistribute it and/or modify 
it under the terms of the GNU General Public License as published by 
the Free Software Foundation, either version 3 of the License, or 
(at your option) any later version. 

Koru Source Code is distributed in the hope that it will be useful, 
but WITHOUT ANY WARRANTY; without even the implied warranty of 
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
GNU General Public License for more details. 

You should have received a copy of the GNU General Public License 
along with Koru Source Code. If not, see <http://www.gnu.org/licenses/>. 
=========================================================================== 

*/ -->

<% if @refuges.blank? %>
  No se encontraron resultados.
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Ubicación</th>
        <th>Formularios</th>
        <th>Coordinador</th>
        <th>DNI</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @refuges.each do |refuge| %>
        <tr id="row-refuge-<%= refuge.id %>">
          <td><%= refuge.name %></td>
          <td><%= set_city_country refuge %></td>
          <td><%= link_to refuge.questionnaires.count, admin_questionnaires_path(refuge_id: refuge.id) %></td>
          <td><%= set_contact refuge.primary_contact %></td>
          <td><%= set_census_taker refuge.census_taker %></td>
          <td>
            <%= link_to "<i class='plus icon'></i>".html_safe, new_admin_refuge_questionnaire_path(refuge) %>
            <%= link_to "<i class='info icon'></i>".html_safe, "#" %>
            <%= link_to "<i class='write icon'></i>".html_safe, "#" %>
            <%= link_to "<i class='remove icon'></i>".html_safe, admin_refuge_path(refuge), method: :delete, class: "delete-refuge", data: { confirm: "¿Está seguro que desea eliminar el albergue #{refuge.name}?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @refuges, class: "custom-pagination", previous_label: "Previous", next_label: "Next", gap: "..." %>
<% end %>