<h1>
	<%= @refuge.name %>
	<div class="pull-right">
		<%= link_to "Guardar", "#", class: "btn btn-primary" %>
	</div>
</h1>
<div class="col-md-2"></div>
<div class="col-md-8">
	<% entities_all.each do |entity| %>
		<div class="panel">
		  <div class="panel-heading">
		    <h3 class="panel-title"><%= entity.name %></h3>
		    <hr>
		  </div>
		  <div class="panel-body">
		  	<% entity.questions.includes(:answers, :children).each do |question| %>
	      	<p><b><%= question.text %></b></p>
	      	<% question.answers.each do |answer| %>
	      		<% if question.one_choice? %>
		      		<p>
		      			<%= radio_button_tag "answer_ids[]", answer.name %>
								<%= label_tag "answer_ids[]", answer.name %>
	      			</p>
	      		<% end %>
		      	<% if question.multiple_choice? %>
		      		<p>
				        <%= check_box_tag 'role_ids[]', answer.id %>
				        <%= h answer.name %>
	      			</p>
	      		<% end %>
	      	<% end %>
	      	<% unless question.children.nil? %>
		      	<% question.children.each do |sub_question| %>
		      		<p><b><%= sub_question.text %></b></p>
	      			<% sub_question.answers.each do |answer| %>
		      			<% if question.one_choice? %>
				      		<p>
				      			<%= radio_button_tag "answer_ids[]", answer.name %>
										<%= label_tag "answer_ids[]", answer.name %>
			      			</p>
			      		<% end %>
				      	<% if question.multiple_choice? %>
				      		<p>
						        <%= check_box_tag 'role_ids[]', answer.id %>
						        <%= h answer.name %>
			      			</p>
			      		<% end %>
	      			<% end %>
			  		<% end %>
		  		<% end %>
		  	<% end %>
		  </div>
		</div>
	<% end %>
</div>
<div class="col-md-2"></div>
