<div id="detail-navbar" class="sidebar-scroll hide">
  <nav>
    <ul class="nav">
      <li>
        <%= link_to front_root_path, class: "active", remote: true do %>
          <table>
            <tr>
              <td rowspan="2"><i class="glyphicon glyphicon-certificate <%= refuge_class_status(refuge) %>"></i></td>
              <td><%= refuge.name %></td>
            </tr>
            <tr>
              <td><h6><%= "#{refuge.city}, #{refuge.country.name}" %></h6></td>
            </tr>
          </table>
        <% end %>
      </li>
      <ul>
        <br>
        <%= link_to "#{t 'nav.refuge_detail_button'}", front_refuge_path(refuge), class: "btn btn-primary", data: { turbolinks: "false" } %>
      </ul>
    </ul>
  </nav>
</div>