<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="hamburger-icon navbar-btn">
      <button type="button" class="btn-toggle-fullwidth"><i class="glyphicon glyphicon-menu-hamburger"></i></button>
    </div>
    <div class="brand">
      <%= link_to front_root_path, onclick: "#{analytics_track_event 'logo', '-', '-'}" do %>
        <%= image_tag "logo-dark.png", alt: "RefugiosApp Logo", width: "220", class: "img-responsive logo" %>
      <% end %>
    </div>
    <% unless hide_sidebar_content_if @controller, @action %>
      <div class="navbar-form navbar-left">
        <div class="input-group">
          <div id="input-search-by-location">
            <input id="input-search" class="typeahead form-control" type="text" placeholder="<%= t 'nav.search_box_placeholder_locations' %>">
          </div>
          <span class="input-group-btn" onclick="<%= analytics_track_event 'search', 'search_button', '-' %>"><button type="button" id="search-button" class="btn btn-primary"><%= image_tag "search-icon.png", width: "15" %></button></span>
        </div>
      </div>
      <div class="navbar-form navbar-left">
        <div class="filter-styles">
          <%= t "nav.filter_by_needs" %>
          <%= form_tag filter_by_front_refuges_path, id: "form-filter-refuges", onclick: "#{analytics_track_event 'filter_selector', 'filter_by_needs', '-'}", method: :get, remote: true do %>
            <%= select_tag "filters[]", options_from_collection_for_select(entities_all, 'id', 'name'), prompt: "#{t 'filter_select_all'}", id: "filter-select", class: 'form-control ui selection dropdown', multiple: "" %>
          <% end %>
        </div>
      </div>
      <div class="navbar-btn navbar-btn-right translate-buttons-styles">
        <%#= t "nav.language_translate" %>
        <%= link_to_unless_current "Español", { locale: "es" }, { onclick: "#{analytics_track_event 'traductor_button', 'spanish', '-'}" } %> |
        <%= link_to_unless_current "English", { locale: "en" }, { onclick: "#{analytics_track_event 'traductor_button', 'english', '-'}" } %>
      </div>
      <!-- <div class="navbar-btn navbar-btn-right admin-button-margin"> -->
        <%#= link_to "Admin Portal", admin_root_path %>
      <!-- </div> -->
    <% end %>
  </div>
</nav>