<nav class="navbar navbar-default navbar-fixed-top">
  <div class="brand">
    <%= link_to root_path do %>
      <%= image_tag "logo-dark.png", alt: "RefugiosApp Logo", class: "img-responsive logo" %>
    <% end %>
  </div>
  <div class="container-fluid">
    <div class="navbar-btn">
      <button type="button" class="btn-toggle-fullwidth"><i class="glyphicon glyphicon-circle-arrow-left"></i></button>
    </div>
    <% unless @controller == "front/refuges" and @action == "show" %>
      <div class="navbar-form navbar-left">
        <div class="input-group">
          <div class="input-group-btn">
            <select id="select-search-mode" class="form-control">
              <option value="locations" selected=""><%= t "nav.search_mode_location" %></option>
              <option value="refuges"><%= t "nav.search_mode_refuges" %></option>
            </select>
          </div>
          <input type="text" id="input-search-by-location" class="form-control" placeholder="<%= t 'nav.search_box_placeholder_locations' %>">
          <div id="input-search-by-refuge" class="hide">
            <input class="typeahead form-control" type="text" placeholder="<%= t 'nav.search_box_placeholder_refuges' %>">
          </div>
          <span class="input-group-btn"><button type="button" id="search-button" class="btn btn-primary"><%= t "nav.button_go" %></button></span>
        </div>
      </div>
      <div class="navbar-form navbar-left">
        <div class="filter-styles">
          <%= t "nav.filter_by_needs" %>
          <%= form_tag filter_by_front_refuges_path, id: "form-filter-refuges", method: :get, remote: true do %>
            <%= select_tag "filters[]", options_from_collection_for_select(entities_all, 'id', 'name'), prompt: "#{t 'filter_select_all'}", id: "filter-select", class: 'form-control ui selection dropdown', multiple: "" %>
          <% end %>
        </div>
      </div>
      <div class="navbar-form navbar-left">
        <%= link_to "Admin Portal", admin_root_path %>
      </div>
      <div class="navbar-btn navbar-btn-right">
        <%= t "nav.language_translate" %>:
        <%= link_to_unless_current "#{t 'nav.spanish_language'}", locale: "es" %> |
        <%= link_to_unless_current "#{t 'nav.english_language'}", locale: "en" %>
      </div>
    <% end %>
  </div>
</nav>

<script type="text/javascript">
  var refugesSource = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: "<%= filter_by_front_refuges_url %>.json?query=%QUERY",
      wildcard: '%QUERY'
    }
  });
  $('#input-search-by-refuge .typeahead').typeahead(null, {
    limit: 1000,
    name: 'refuges',
    display: 'name',
    source: refugesSource,
    templates: {
      empty: ['<h4 style="padding: 0 15px 0 15px;">', 'No refuges found.', '</h4>'].join('\n'),
      suggestion: function(data) {
        return ['<div>', '<h4>' + data.name + '</h4>', '<h5>' + data.full_address + '</h5>', '</div>'].join('\n');
      },
    }
  });
  get_filters_selected = function(){
    var selectedValues = '';
    $("#filter-select :selected").each(function(){
      selectedValues += "&filters[]=" + $(this).val();
    });
    return selectedValues;
  }
  $('#filter-select').dropdown({
    useLabels: false,
    onChange: function() {
      refugesSource.remote.url = "<%= filter_by_front_refuges_url %>.json?query=%QUERY" + get_filters_selected();
      $("#form-filter-refuges").submit();
    }
  });
  $('.typeahead').bind('typeahead:select', function(ev, suggestion) {
    show_on_map(suggestion);
  });
</script>
