<!-- /* 

=========================================================================== 
Koru GPL Source Code 
Copyright (C) 2017 Tekton Labs
This file is part of the Koru GPL Source Code.
Koru Source Code is free software: you can redistribute it and/or modify 
it under the terms of the GNU General Public License as published by 
the Free Software Foundation, either version 3 of the License, or 
(at your option) any later version. 

Koru Source Code is distributed in the hope that it will be useful, 
but WITHOUT ANY WARRANTY; without even the implied warranty of 
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
GNU General Public License for more details. 

You should have received a copy of the GNU General Public License 
along with Koru Source Code. If not, see <http://www.gnu.org/licenses/>. 
=========================================================================== 

*/ -->

<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t "refuges.capacity" %></h3>
    <hr>
  </div>
  <div id="capacity-partial" class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <p class="col-md-8"><b><%= t "refuges.number_of_families" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_families %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_children_under_3_male" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_children_under_3_male %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_children_under_3_female" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_children_under_3_female %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_people_less_than_or_equals_to_18_male" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_people_less_than_or_equals_to_18_male %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_people_less_than_or_equals_to_18_female" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_people_less_than_or_equals_to_18_female %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_people_older_than_18_male" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_people_older_than_18_male %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_people_older_than_18_female" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_people_older_than_18_female %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_older_adults_male" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_older_adults_male %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_older_adults_female" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_older_adults_female %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_pregnant_women" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_pregnant_women %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_people_with_disabilities" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_people_with_disabilities %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_pets" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_pets %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_farm_animals" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_farm_animals %></p>
      </div>
    </form>
  </div>
</div>