<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t "refuges.capacity" %></h3>
    <hr>
  </div>
  <div id="capacity-partial" class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <p class="col-md-8"><b><%= t "refuges.number_of_families" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_families %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_children_under_3_male" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_children_under_3_male %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_children_under_3_female" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_children_under_3_female %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_people_less_than_or_equals_to_18_male" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_people_less_than_or_equals_to_18_male %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_people_less_than_or_equals_to_18_female" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_people_less_than_or_equals_to_18_female %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_people_older_than_18_male" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_people_older_than_18_male %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_people_older_than_18_female" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_people_older_than_18_female %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_older_adults_male" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_older_adults_male %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_older_adults_female" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_older_adults_female %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_pregnant_women" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_pregnant_women %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_people_with_disabilities" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_people_with_disabilities %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_pets" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_pets %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_farm_animals" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_farm_animals %></p>
      </div>
    </form>
  </div>
</div>