<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t "refuges.capacity" %></h3>
    <hr>
  </div>
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <p class="col-md-7"><b><%= t "refuges.number_of_families" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_families %></p>
      </div>
      <div class="form-group">
        <p class="col-md-7"><b><%= t "refuges.number_of_people" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_people %></p>
      </div>
      <div class="form-group">
        <p class="col-md-7"><b><%= t "refuges.number_of_pregnant_women" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_pregnant_women %></p>
      </div>
      <div class="form-group">
        <p class="col-md-7"><b><%= t "refuges.number_of_children_under_3" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_children_under_3 %></p>
      </div>
      <div class="form-group">
        <p class="col-md-7"><b><%= t "refuges.number_of_older_adults" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_older_adults %></p>
      </div>
      <div class="form-group">
        <p class="col-md-7"><b><%= t "refuges.number_of_people_with_disabilities" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_people_with_disabilities %></p>
      </div>
      <div class="form-group">
        <p class="col-md-7"><b><%= t "refuges.number_of_pets" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_pets %></p>
      </div>
      <div class="form-group">
        <p class="col-md-7"><b><%= t "refuges.number_of_farm_animals" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_farm_animals %></p>
      </div>
    </form>
  </div>
</div>