<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t "refuges.infrastructure" %></h3>
    <hr>
  </div>
  <div id="infrastructure-partial" class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <p class="col-md-8"><b><%= t "refuges.number_of_carp" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_carp %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_toilets" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_toilets %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_washbasins" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_washbasins %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_showers" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_showers %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_tanks" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_tanks %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_landfills" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_landfills %></p>
        <p class="col-md-8"><b><%= t "refuges.number_of_garbage_collection_points" %>:</b></p>
        <p class="col-md-4"><%= refuge.number_of_garbage_collection_points %></p>
        <p class="col-md-8"><b><%= t "refuges.floor_type" %>:</b></p>
        <p class="col-md-4"><%= t "refuges.types.floor_type.#{refuge.floor_type}" %></p>
        <p class="col-md-8"><b><%= t "refuges.roof_type" %>:</b></p>
        <p class="col-md-4"><%= t "refuges.types.roof_type.#{refuge.roof_type}" %></p>
      </div>
    </form>
  </div>
</div>