<div id="sidebar-nav" class="sidebar">
  <div id="list-refuges-bar" class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <li><%= link_to "<i class='university icon'></i>Refugios".html_safe, "#" %></li>
        <li><%= link_to "<i class='file text outline icon'></i>Formularios".html_safe, "#" %></li>
        <li><%= link_to "<i class='users icon'></i>Empadronadores".html_safe, "#" %></li>
        <li><%= link_to "<i class='user icon'></i>Usuarios".html_safe, "#" %></li>
        <li><%= link_to "<i class='spy icon'></i>Administradores".html_safe, "#" %></li>
      </ul>
    </nav>
  </div>
</div>