<!-- /* 

=========================================================================== 
Koru GPL Source Code 
Copyright (C) 2017 Tekton Labs
This file is part of the Koru GPL Source Code.
Koru Source Code is free software: you can redistribute it and/or modify 
it under the terms of the GNU General Public License as published by 
the Free Software Foundation, either version 3 of the License, or 
(at your option) any later version. 

Koru Source Code is distributed in the hope that it will be useful, 
but WITHOUT ANY WARRANTY; without even the implied warranty of 
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
GNU General Public License for more details. 

You should have received a copy of the GNU General Public License 
along with Koru Source Code. If not, see <http://www.gnu.org/licenses/>. 
=========================================================================== 

*/ -->

<div id="sidebar-nav" class="sidebar">
  <div id="list-refuges-bar" class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <li><%= link_to "<i class='university icon'></i>Refugios".html_safe, admin_root_path, class: "#{'active' if @controller == "admin/refuges"}" %></li>
        <li><%= link_to "<i class='file text outline icon'></i>Formularios".html_safe, admin_questionnaires_path, class: "#{'active' if @controller == "admin/questionnaires"}" %></li>
        <li><%= link_to "<i class='users icon'></i>Empadronadores".html_safe, admin_census_takers_path, class: "#{'active' if @controller == "admin/census_takers"}" %></li>
        <li><%= link_to "<i class='user icon'></i>Usuarios".html_safe, admin_users_path, class: "#{'active' if @controller == "admin/users"}" %></li>
        <li><%= link_to "<i class='spy icon'></i>Administradores".html_safe, "#" %></li>
      </ul>
    </nav>
  </div>
</div>