<!-- /* 

=========================================================================== 
Koru GPL Source Code 
Copyright (C) 2017 Tekton Labs
This file is part of the Koru GPL Source Code.
Koru Source Code is free software: you can redistribute it and/or modify 
it under the terms of the GNU General Public License as published by 
the Free Software Foundation, either version 3 of the License, or 
(at your option) any later version. 

Koru Source Code is distributed in the hope that it will be useful, 
but WITHOUT ANY WARRANTY; without even the implied warranty of 
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
GNU General Public License for more details. 

You should have received a copy of the GNU General Public License 
along with Koru Source Code. If not, see <http://www.gnu.org/licenses/>. 
=========================================================================== 

*/ -->

<div class="content">
  <% entity = Entity.find(entity_id) %>
  <% entity_questions = @rhash[entity] %>
  <br>
  <div class="entity-header">
    <p><%= entity.name %></p>
  </div>
  <% if !entity_questions.nil? %>
    <% entity_questions.each do |r| %>
      <% question = r.question %>
      <p class="question pdf-text-size"><%= question.text %></p>
      <% case question.question_type %>
      <% when "one_choice" %>
        <% question.answers.each do |answer| %>
          <div class="radiobutton-options">
            <p class="pdf-text-size">
              <%= radio_button_tag "question_#{question.id}", answer.id, r.answer_selected_id ? r.answer_selected_id.include?(answer.id) : false %>
              <%= answer.name %>
            </p>
          </div>
        <% end %>
      <% when "multiple_choice" %>
        <% question.answers.each do |answer| %>
          <p class="checkbox-options pdf-text-size">
            <%= check_box_tag :answer, answer.id, r.answer_selected_id ? r.answer_selected_id.include?(answer.id) : false %>
            <%= answer.name %>
          </p>
        <% end %>
      <% else %>
        <p class="answer pdf-text-size"><%= r.answer_selected_id ? Answer.text_answers_selected(r.answer_selected_id, r.answer_responsed_text) : '-' %></p>
      <% end %>
    <% end %>
  <% end %>
</div>