<!-- /* 

=========================================================================== 
Koru GPL Source Code 
Copyright (C) 2017 Tekton Labs
This file is part of the Koru GPL Source Code.
Koru Source Code is free software: you can redistribute it and/or modify 
it under the terms of the GNU General Public License as published by 
the Free Software Foundation, either version 3 of the License, or 
(at your option) any later version. 

Koru Source Code is distributed in the hope that it will be useful, 
but WITHOUT ANY WARRANTY; without even the implied warranty of 
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
GNU General Public License for more details. 

You should have received a copy of the GNU General Public License 
along with Koru Source Code. If not, see <http://www.gnu.org/licenses/>. 
=========================================================================== 

*/ -->

<%= form_tag admin_refuge_questionnaires_path do %>
  <h1>
    <%= @refuge.name %>
    <div class="pull-right">
      <%= submit_tag "Guardar", class: "btn btn-primary" %>
    </div>
  </h1>
  <% unless @questionnaire.errors.empty? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <% @questionnaire.errors.full_messages.each do |message| %>
        <i class="fa fa-times-circle"></i> <%= message %>
      <% end %>
    </div>
  <% end %>
  <% @questionnaire.responses.group_by{|x| (x.question.entity.parent.nil? ? x.question.entity : x.question.entity.parent) }.each do |response| %>
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title"><b><%= response.first.name %></b></h3>
        <hr>
      </div>
      <div class="panel-body">
        <% response.second.each do |sub_response| %>
          <% question = sub_response.question %>
          <%= hidden_field_tag "questions[#{question.id}][id]", question.id %>
          <%= hidden_field_tag "questions[#{question.id}][question_type]", question.question_type %>
          <p><%= question.text %></p>
          <% case question.question_type %>
          <% when "one_choice" %>
            <% question.answers.each do |answer| %>
              <label class="fancy-radio">
                <%= radio_button_tag "questions[#{question.id}][answers][][selected_id]", answer.id %>
                <span><i></i><%= answer.name %></span>
              </label>
            <% end %>
          <% when "multiple_choice" %>
            <% question.answers.each do |answer| %>
              <label class="fancy-checkbox">
                <%= check_box_tag "questions[#{question.id}][answers][][selected_id]", answer.id %>
                <span><%= answer.name %></span>
              </label>
            <% end %>
          <% else %>
            <%= text_field_tag "questions[#{question.id}][answers][][answer_value]", nil, class: "form-control" %>
          <% end %>
          <br>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>