<div class="ui centered grid container">
  <div class="row"></div>
  <div id="steps-container" class="ui text container">
    <%= form_tag front_refuge_need_path, class:"ui form" do %>
      <div class="ui ordered steps">
        <div class="active step" id="step-organization">
          <div class="content">
            <div class="title">DATOS DE LA ORGANIZACIÓN</div>
            <div class="description"></div>
          </div>
        </div>
        <div class="disabled step" id="step-engagement">
          <div class="content">
            <div class="title">TIEMPO DE COMPROMISO</div>
            <div class="description"></div>
          </div>
        </div>
        <div class="disabled step" id="step-person">
          <div class="content">
            <div class="title">DETALLES DE PERSONA</div>
            <div class="description"></div>
          </div>
        </div>
      </div>
      <div class="row"></div>
      <div class="row"></div>
      <div id="organization-container">
        <div class="ui center aligned segment container panel-margin">
          <%= render "assign_header", need: @need %>
          <hr><br>
          <div id="form-organization" class="ui form">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <div class="field">
                <label class="pull-left">Organización responsable</label>
                <div class="ui input">
                  <input type="text" name="organization_in_charge">
                </div>
              </div>
              <div class="field">
                <label class="pull-left">Responsabilidades</label>
                <textarea rows="3" name="responsabilities"></textarea>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="actions">
          <button class="btn btn-primary pull-center next1">Next</button>
        </div>
      </div>
      <div id="engagement-container">
        <div class="ui center aligned segment container panel-margin">
          <%= render "assign_header", need: @need %>
          <hr><br>
          <div id="form-engagement" class="ui form">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <label class="header-text">Tiempo del compromiso</label>
              <div class="fields">
                <div class="three wide field">
                  <%= text_field_tag :start_date, nil, placeholder: "Fecha inicial", class:"datepicker" %>
                </div>
                <div class="three wide field">
                  <%= text_field_tag :end_date, nil, placeholder: "Fecha final", class:"datepicker" %>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox pull-left">
                  <input id="checkbox-lonely-date" type="checkbox" tabindex="0" class="hidden">
                  <label>Solo una vez</label>
                </div>
                <div class="three wide field">
                  <%= text_field_tag :lonely_date, nil, placeholder: "Fecha única", class:"datepicker" %>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="actions">
          <button class="btn btn-secondary prev1">Previous</button>
          <button class="btn btn-primary next2">Next</button>
        </div>
      </div>
      <div id="person-container">
        <div class="ui center aligned segment container panel-margin">
          <%= render "assign_header", need: @need %>
          <hr><br>
          <div id="form-person" class="ui form">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <div class="field">
                <label class="pull-left">Persona responsable</label>
                <%= text_field_tag :person_in_charge, nil, placeholder: "Ingrese nombres y apellidos" %>
                <!-- <input type="text" name="person_in_charge" placeholder="Ingrese nombres y apellidos"> -->
              </div>
              <div class="field">
                <label class="pull-left">Celular</label>
                <input type="text" name="phone" placeholder="Celular">
              </div>
              <div class="field">
                <label class="pull-left">Correo electrónico</label>
                <%= email_field_tag :email, nil, placeholder: "Ingrese correo electrónico" %>
                <!-- <input type="text" name="email" placeholder="Ingrese correo electrónico"> -->
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="actions">
          <button class="btn btn-secondary prev2">Previous</button>
          <%= submit_tag "Submit", class: "btn btn-primary submit" %>
          <!-- <button class="btn btn-primary submit">Submit</button> -->
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">

  // $('#form-organization').form({
  //   on: 'blur',
  //   fields: {
  //     organization_in_charge: 'empty',
  //     responsabilities: 'empty',
  //   }
  // });

  // $('#person-container').form({
  //   on: 'blur',
  //   fields: {
  //     phone: 'empty',
  //     email: ['empty', 'exactLength[9]', 'integer'],
  //     person_in_charge: 'empty',
  //   }
  // });


  $('.ui.checkbox').checkbox();
  $(document).ready(function() {
    $("#lonely_date").prop('disabled', true);
    var ct = 0;
    $('.datepicker').datepicker({
      format: 'dd/mm/yyyy',
    });
    $("#checkbox-lonely-date").change(function() {
      if ($("#checkbox-lonely-date").is(":checked")) {
        $("#start_date").prop('disabled', true);
        $("#end_date").prop('disabled', true);
        $("#lonely_date").prop('disabled', false);
        $("#start_date").val("")
        $("#end_date").val("")
      }
      else {
        $("#start_date").prop('disabled', false);
        $("#end_date").prop('disabled', false);
        $("#lonely_date").val("")
        $("#lonely_date").prop('disabled', true);
      }
    });
    $('.next1').on('click', function(e) {
      e.preventDefault();
      // if ($('#form-organization').form('is valid')) {
      $('#organization-container').animate('slow', function() {
        if (ct > 0) {
          $('#organization-container').removeClass('transition visible');
          $('#organization-container').addClass('transition hidden');
        }
        $('#organization-container').css('display', 'none');
        $('#step-organization').removeClass('active');
        $('#step-organization').addClass('completed');
        $('#step-engagement').removeClass('disabled');
        $('#step-engagement').addClass('active');
        $("#engagement-container").transition('fly right');
         ct++;
      });
      // }
    });

    $('.prev1').on('click', function(e) {
      e.preventDefault();
      $('#step-organization').removeClass('completed');
      $('#step-organization').addClass('active');
      $('#step-engagement').removeClass('active');
      $('#step-engagement').addClass('disabled');
      $('#engagement-container').animate('slow', function() {
        $('#engagement-container').transition('hide');
        $("#organization-container").transition('fly right');
      });
    });

    $('.next2').on('click', function(m) {
      m.preventDefault();
      $('#step-engagement').removeClass('active');
      $('#step-engagement').addClass('completed');
      $('#step-person').removeClass('disabled');
      $('#step-person').addClass('active');
      $('#engagement-container').animate('slow', function() {
        $('#engagement-container').transition('hide');
        $('#person-container').transition('fly right');
      });
    });

    $('.prev2').on('click', function(m) {
      m.preventDefault();
      $('#step-engagement').removeClass('completed');
      $('#step-engagement').addClass('active');
      $('#step-person').removeClass('active');
      $('#step-person').addClass('disabled');
      $('#person-container').animate('slow', function() {
        $('#person-container').transition('hide');
        $('#engagement-container').transition('fly right');
      });
    });

    // $('.submit').on('click', function(p) {
    //   // p.preventDefault();
    //   // if ($('#form-person').form('is valid')) {
    //   //   console.log("success :3");
    //   // }
    //   // else {
    //   //   console.log("error :c");
    //   // }
    // });
  });
</script>