<div id="wrapper">
  <div class="vertical-align-wrap">
    <div class="vertical-align-middle">
      <div class="auth-box ">
        <div class="left">
          <div class="content">
            <div class="header">
              <div class="logo text-center"><span id="title-login">RefugiosAPP</span></div>
              <p class="lead">Panel de Administración</p>
            </div>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-auth-small") do |f| %>
              <div class="form-group">
                <%= f.label :email, class: "control-label sr-only", for: "signin-email" %>
                <%= f.email_field :email, class: "form-control", id: "signin-email", placeholder: "Email", autofocus: true %>
              </div>
              <div class="form-group">
                <%= f.label :password, for: "signin-password", class: "control-label sr-only" %><br />
                <%= f.password_field :password, class: "form-control", id: "signin-password", placeholder: "Password", autocomplete: "off" %>
              </div>
              <%= f.submit "LOGIN", class: "btn btn-primary btn-lg btn-block" %>
              <%#= render "devise/shared/links" %>
              <div class="bottom"></div>
            <% end %>
          </div>
        </div>
        <div class="right">
          <div class="overlay"></div>
          <div class="content text">
            <h1 class="heading">SegundosAuxilios</h1>
            <p>Powered by TektonLabs.</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>