<% if @census_takers.blank? %>
  No se encontraron resultados.
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>DNI</th>
        <th>Celular</th>
        <th>Refugios</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @census_takers.each do |census_taker| %>
        <tr>
          <td><%= census_taker.dni %></td>
          <td><%= census_taker.phone %></td>
          <td><%= link_to census_taker.refuges.count, admin_refuges_path(dni: census_taker.dni) %></td>
          <td>
            <%= link_to "<i class='info icon'></i>".html_safe, "#" %>
            <%= link_to "<i class='write icon'></i>".html_safe, "#" %>
            <%= link_to "<i class='remove icon'></i>".html_safe, "#" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @census_takers, class: "custom-pagination" %>
<% end %>