<!-- /* 

=========================================================================== 
Koru GPL Source Code 
Copyright (C) 2017 Tekton Labs
This file is part of the Koru GPL Source Code.
Koru Source Code is free software: you can redistribute it and/or modify 
it under the terms of the GNU General Public License as published by 
the Free Software Foundation, either version 3 of the License, or 
(at your option) any later version. 

Koru Source Code is distributed in the hope that it will be useful, 
but WITHOUT ANY WARRANTY; without even the implied warranty of 
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
GNU General Public License for more details. 

You should have received a copy of the GNU General Public License 
along with Koru Source Code. If not, see <http://www.gnu.org/licenses/>. 
=========================================================================== 

*/ -->

<% if @census_takers.blank? %>
  No se encontraron resultados.
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>DNI</th>
        <th>Celular</th>
        <th>Institución</th>
        <th>Albergues</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @census_takers.each do |census_taker| %>
        <tr>
          <td><%= census_taker.dni %></td>
          <td><%= census_taker.phone %></td>
          <td><%= census_taker.institution.humanize %></td>
          <td><%= link_to census_taker.refuges.count, admin_refuges_path(dni: census_taker.dni) %></td>
          <td>
            <%= link_to "<i class='write icon'></i>".html_safe, "#" %>
            <%= link_to "<i class='remove icon'></i>".html_safe, "#" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @census_takers, class: "custom-pagination", previous_label: "Previous", next_label: "Next", gap: "..." %>
<% end %>