<div class="ui centered grid container">
  <input id="locale" type="hidden" value="<%= params[:locale] %>">
  <div class="row"></div>
  <div id="steps-container" class="ui text container">
    <%= form_for @person_in_charge, url: front_refuge_need_assignments_path do |f| %>
      <div class="ui ordered steps">
        <div class="active step" id="step-organization">
          <div class="content">
            <div class="title">DATOS DE LA ORGANIZACIÓN</div>
            <div class="description"></div>
          </div>
        </div>
        <div class="disabled step" id="step-engagement">
          <div class="content">
            <div class="title">TIEMPO DE COMPROMISO</div>
            <div class="description"></div>
          </div>
        </div>
        <div class="disabled step" id="step-person">
          <div class="content">
            <div class="title">DATOS PERSONALES</div>
            <div class="description"></div>
          </div>
        </div>
      </div>
      <div class="row"></div>
      <div class="row"></div>
      <div id="organization-container">
        <div class="ui center aligned segment container panel-margin">
          <%= render "assign_header", need: @need %>
          <hr><br>
          <div id="form-organization" class="ui form">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <div class="field">
                <label class="pull-left">Organización responsable</label>
                <div class="ui input">
                  <%= f.text_field :organization %>
                </div>
                <label class="organization-alert-error hide"></label>
              </div>
              <div class="field">
                <label class="pull-left">Responsabilidades</label>
                <%= f.text_area :responsabilities, rows: 3 %>
                <label class="responsabilities-alert-error hide"></label>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="actions margin-bottom-steps">
          <button class="btn btn-secondary button-margin-between" href="<%= front_refuge_path(@refuge) %>"><%= t 'refuges.assign.previous' %></button>
          <button class="btn btn-primary next1"><%= t 'refuges.assign.next' %></button>
        </div>
      </div>
      <div id="engagement-container">
        <div class="ui center aligned segment container panel-margin">
          <%= render "assign_header", need: @need %>
          <hr><br>
          <div id="form-engagement" class="ui form">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <%= f.fields_for :engagements do |engagement| %>
                <%= engagement.hidden_field :need_id, value: params[:need_id] %>
                <label class="header-text">Tiempo del compromiso</label>
                <div class="form-inline pull-left field">
                  <div class="form-group">
                    <%= engagement.text_field :start_date, placeholder: "Fecha inicial", class: "datepicker form-control", id: "engagement-start-date", readonly: true %>
                  </div>
                  <div class="form-group">
                    <%= engagement.text_field :end_date, placeholder: "Fecha final", class: "datepicker form-control", id: "engagement-end-date", readonly: true %>
                  </div>
                  <div id="error-description" class="field error hide"><label></label></div>
                </div>
                <br><br><br>
                <div class="form-inline pull-left field">
                  <div class="ui checkbox">
                    <%= engagement.check_box :unique_date, class: "hidden", id: "checkbox-unique-date" %>
                    <label>Solo una vez</label>
                  </div>
                </div>
                <br>
                <div class="form-inline pull-left field left-alignment">
                  <div class="form-group">
                    <%= engagement.text_field :start_date, placeholder: "Fecha única", id: "engagement-unique-date", readonly: true %>
                  </div>
                  <div id="unique-date-error" class="field error hide"><label></label></div>
                </div>
              <% end %>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="actions margin-bottom-steps">
          <button class="btn btn-secondary prev1 button-margin-between"><%= t 'refuges.assign.previous' %></button>
          <button class="btn btn-primary next2"><%= t 'refuges.assign.next' %></button>
        </div>
      </div>
      <div id="person-container">
        <div class="ui center aligned segment container panel-margin">
          <%= render "assign_header", need: @need %>
          <hr><br>
          <div id="form-person" class="ui form">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <div class="field">
                <label class="pull-left">Persona responsable</label>
                <%= f.text_field :name %>
                <label class="name-alert-error hide"></label>
              </div>
              <div class="field">
                <label class="pull-left">Celular</label>
                <%= f.text_field :phone %>
                <label class="phone-alert-error hide"></label>
              </div>
              <div class="field">
                <label class="pull-left">Correo electrónico</label>
                <%= f.text_field :email %>
                <label class="email-alert-error hide"></label>
              </div>
              <p>Recibirás un correo de Segundos Auxilios con la información necesaria para cumplir con la necesidad que te has asignado.</p>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="actions margin-bottom-steps">
          <button class="btn btn-secondary prev2 button-margin-between"><%= t 'refuges.assign.previous' %></button>
          <button class="btn btn-primary submit"><%= t 'refuges.assign.send' %></button>
        </div>
      </div>
    <% end %>
  </div>
</div>