<h1>
  Usuarios
  <div class="pull-right">
    <%= link_to "Nuevo", "#", class: "btn btn-primary" %>
  </div>
</h1>
<%= form_tag admin_users_path, method: :get, class: "form-inline", remote: true do %>
  <%= text_field_tag :dni, params[:dni], value: "", placeholder: "Ingrese dni", class: "form-control" %>
  <%= submit_tag "Filtrar", name: nil, class: "btn btn-primary margin-button-filter" %>
<% end %>
<div class="panel info-panel-margin">
  <div id="users-list" class="panel-body">
    <%= render 'users_table', users: @users %>
  </div>
</div>