<!-- /* 

=========================================================================== 
Koru GPL Source Code 
Copyright (C) 2017 Tekton Labs
This file is part of the Koru GPL Source Code.
Koru Source Code is free software: you can redistribute it and/or modify 
it under the terms of the GNU General Public License as published by 
the Free Software Foundation, either version 3 of the License, or 
(at your option) any later version. 

Koru Source Code is distributed in the hope that it will be useful, 
but WITHOUT ANY WARRANTY; without even the implied warranty of 
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
GNU General Public License for more details. 

You should have received a copy of the GNU General Public License 
along with Koru Source Code. If not, see <http://www.gnu.org/licenses/>. 
=========================================================================== 

*/ -->

<h1>
  Usuarios
  <div class="pull-right">
    <%= link_to "Nuevo", "#", class: "btn btn-primary" %>
  </div>
</h1>
<%= form_tag admin_users_path, method: :get, class: "form-inline", remote: true do %>
  <%= text_field_tag :dni, params[:dni], value: params[:dni], placeholder: "Ingrese dni", class: "form-control" %>
  <%= submit_tag "Filtrar", name: nil, class: "btn btn-primary margin-button-filter" %>
<% end %>
<div class="panel info-panel-margin">
  <div id="users-list" class="panel-body">
    <%= render 'users_table', users: @users %>
  </div>
</div>