<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t "refuges.general" %></h3>
    <hr>
  </div>
  <div class="panel-body" id="contact-general">
    <form class="form-horizontal">
      <div class="form-group">
        <p class="col-md-4"><%= t "refuges.location" %>:</p>
        <p class="col-md-8"><%= refuge.latitude + ' , ' + refuge.longitude %></p>
      </div>
      <div class="form-group">
        <p class="col-md-4"><%= t "refuges.address" %>:</p> 
        <p class="col-md-8"><%= refuge.address %></p>
      </div>
      <div class="form-group">
        <p class="col-md-4"><%= t "refuges.state" %>:</p>
        <p class="col-md-8"><%= refuge.city %></p>
      </div>
      <div class="form-group">
        <p class="col-md-4"><%= t "refuges.refuge_type" %>:</p>
        <p class="col-md-8"><%= refuge.refuge_type %></p>
      </div>
      <div class="form-group">
        <p class="col-md-4"><%= t "refuges.institution_in_charge" %>:</p>
        <p class="col-md-8"><%= refuge.institution_in_charge %></p>
      </div>
    </form>
  </div>
</div>