<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t "refuges.general" %></h3>
    <hr>
  </div>
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <p class="col-md-4">Ubicacion:</p>
        <p class="col-md-8"><%= refuge.latitude + ' , ' + refuge.longitude %></p>
      </div>
      <div class="form-group">
        <p class="col-md-4">Distrito:</p> 
        <p class="col-md-8"><%= refuge.address %></p>
      </div>
      <div class="form-group">
        <p class="col-md-4">Provincia:</p>
        <p class="col-md-8"><%= refuge.city %></p>
      </div>
      <div class="form-group">
        <p class="col-md-4">Tipo de albergue:</p>
        <p class="col-md-8"><%= refuge.refuge_type %></p>
      </div>
      <div class="form-group">
        <p class="col-md-4">Tipo de gestión:</p>
        <p class="col-md-8"><%= refuge.institution_in_charge %></p>
      </div>
    </form>
  </div>
</div>