<style>
  .wrap {
    height:auto;
    margin: auto;
    text-align:center;
    position:relative;
  }
  .text_over_image {
      position: absolute;
      margin: auto;
      top: 0;
      left:0;
      right:0;
      bottom:0;
      color:#fff;
      height:10px;
      font-size: 250%;
  }
</style>
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t "refuges.photos" %></h3>
    <hr>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <%= link_to image_tag("refugios/refugio1.jpg", style: "max-width: 100%; max-height: 90%; margin-bottom: 5%;"), image_path("refugios/refugio1.jpg"), {'data-fancybox': "gallery"} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= link_to image_tag("refugios/refugio2.jpg", style: "max-width: 100%; max-height: 95%;"), image_path("refugios/refugio2.jpg"), {'data-fancybox': "gallery"} %>
      </div>
      <div class="col-md-6 wrap">
        <%= link_to "37", image_path("refugios/refugio3.jpg"), {'data-fancybox': "gallery", class: "text_over_image" } %>
        <%= link_to image_tag("refugios/refugio3.jpg", style: "max-width: 100%; max-height: 95%;"), image_path("refugios/refugio3.jpg"), {'data-fancybox': "gallery"} %>
      </div>
      <div class="row" style="display:none;">
        <%= link_to image_tag("refugios/refugio4.jpg"), image_path("refugios/refugio4.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio5.jpg"), image_path("refugios/refugio5.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio6.jpg"), image_path("refugios/refugio6.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio7.jpg"), image_path("refugios/refugio7.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio8.jpg"), image_path("refugios/refugio8.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio9.jpg"), image_path("refugios/refugio9.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio10.jpg"), image_path("refugios/refugio10.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio11.jpg"), image_path("refugios/refugio11.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio12.jpg"), image_path("refugios/refugio12.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio13.jpg"), image_path("refugios/refugio13.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio14.jpg"), image_path("refugios/refugio14.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio15.jpg"), image_path("refugios/refugio15.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio16.jpg"), image_path("refugios/refugio16.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio17.jpg"), image_path("refugios/refugio17.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio18.jpg"), image_path("refugios/refugio18.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio19.jpg"), image_path("refugios/refugio19.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio20.jpg"), image_path("refugios/refugio20.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio21.jpg"), image_path("refugios/refugio21.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio22.jpg"), image_path("refugios/refugio22.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio23.jpg"), image_path("refugios/refugio23.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio24.jpg"), image_path("refugios/refugio24.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio25.jpg"), image_path("refugios/refugio25.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio26.jpg"), image_path("refugios/refugio26.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio27.jpg"), image_path("refugios/refugio27.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio28.jpg"), image_path("refugios/refugio28.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio29.jpg"), image_path("refugios/refugio29.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio30.jpg"), image_path("refugios/refugio30.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio31.jpg"), image_path("refugios/refugio31.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio32.jpg"), image_path("refugios/refugio32.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio33.jpg"), image_path("refugios/refugio33.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio34.jpg"), image_path("refugios/refugio34.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio35.jpg"), image_path("refugios/refugio35.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio36.jpg"), image_path("refugios/refugio36.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio37.jpg"), image_path("refugios/refugio37.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio38.jpg"), image_path("refugios/refugio38.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio39.jpg"), image_path("refugios/refugio39.jpg"), {'data-fancybox': "gallery"} %>
        <%= link_to image_tag("refugios/refugio40.jpg"), image_path("refugios/refugio40.jpg"), {'data-fancybox': "gallery"} %>
      </div>
    </div>
  </div>
</div>