<!-- /* 

=========================================================================== 
Koru GPL Source Code 
Copyright (C) 2017 Tekton Labs
This file is part of the Koru GPL Source Code.
Koru Source Code is free software: you can redistribute it and/or modify 
it under the terms of the GNU General Public License as published by 
the Free Software Foundation, either version 3 of the License, or 
(at your option) any later version. 

Koru Source Code is distributed in the hope that it will be useful, 
but WITHOUT ANY WARRANTY; without even the implied warranty of 
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
GNU General Public License for more details. 

You should have received a copy of the GNU General Public License 
along with Koru Source Code. If not, see <http://www.gnu.org/licenses/>. 
=========================================================================== 

*/ -->

<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t "refuges.contact" %></h3>
    <hr>
  </div>
  <div class="panel-body" id="contact-primary_contact">
    <% if refuge.primary_contact.nil? %>
      <%= t "refuges.no_primary_contact" %>
    <% else %>
      <div class="col-md-5">
        <%= image_tag "no-profile-photo.jpg", class: "img-responsive" %>
      </div>
      <form class="form-horizontal col-md-7">
        <div class="form-group">
          <p class="col-md-6"><b><%= t "refuges.coordinator" %>:</b></p> 
          <p class="col-md-6"><%= refuge.primary_contact.first_name %></p>
        </div>
        <div class="form-group">
          <p class="col-md-6"><b><%= t "refuges.phone" %>:</b></p> 
          <p class="col-md-6"><%= refuge.primary_contact.phone %></p>
        </div>
      </form>
    <% end %>
  </div>
</div>