<div class="content">
  <% entity_questions = @rhash[Entity.find(entity_id)] %>
  <br>
  <div class="entity-header">
    <h3><%= Entity.find(entity_id).name %></h3>
  </div>
  <% entity_questions.each do |r| %>
    <% question = r.question %>
    <p><b><%= question.text %></b></p>
    <% case question.question_type %>
    <% when "one_choice" %>
      <% question.answers.each do |answer| %>
        <div style="width: 32.5%; display:inline-block;">
          <p>
            <%= radio_button_tag "question_#{question.id}", answer.id, r.answer_selected_id.include?(answer.id) %>
            <%= answer.name %>
          </p>
        </div>
      <% end %>
    <% when "multiple_choice" %>
      <% question.answers.each do |answer| %>
        <p>
          <%= check_box_tag :answer, answer.id, r.answer_selected_id.include?(answer.id) %>
          <%= answer.name %>
        </p>
      <% end %>
    <% else %>
      <p><%= Answer.text_answers_selected(r.answer_selected_id, r.answer_responsed_text) %></p>
    <% end %>
  <% end %>
</div>