<!-- /* 

=========================================================================== 
Koru GPL Source Code 
Copyright (C) 2017 Tekton Labs
This file is part of the Koru GPL Source Code.
Koru Source Code is free software: you can redistribute it and/or modify 
it under the terms of the GNU General Public License as published by 
the Free Software Foundation, either version 3 of the License, or 
(at your option) any later version. 

Koru Source Code is distributed in the hope that it will be useful, 
but WITHOUT ANY WARRANTY; without even the implied warranty of 
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
GNU General Public License for more details. 

You should have received a copy of the GNU General Public License 
along with Koru Source Code. If not, see <http://www.gnu.org/licenses/>. 
=========================================================================== 

*/ -->

<% refuges.each do |refuge| %>
  <div class="panel panels-info-margin">
    <div class="panel-heading">
      <h3 class="panel-title"><b><%= refuge.name %></b></h3>
      <p></p>
      <p><%= set_refuge_address refuge %></p>
      <p><%= "#{t 'refuges.coordinator'}: #{set_refuge_coordinator_name refuge}" %></p>
      <p><%= "#{t 'refuges.phone'}: #{set_refuge_coordinator_phone refuge}" %></p>
    </div>
    <div class="panel-body">
      <div class="col-xs-6">
        <table>
          <% i = 0 %>
          <% refuge.status_by_entity.each do |status| %>
            <% if i % 2 == 0 %>
              <tr>
                <td style="padding-right: 10px;"><span class="circle-<%= status.second == 0 ? 'green' : 'red' %>"></span></td>
                <td><%= status.first %></td>
              </tr>
            <% end %>
            <% i = i + 1 %>
          <% end %>
        </table>
      </div>
      <div class="col-xs-6">
        <table>
          <% i = 0 %>
          <% refuge.status_by_entity.each do |status| %>
            <% if i % 2 != 0 %>
              <tr>
                <td style="padding-right: 10px;"><span class="circle-<%= status.second == 0 ? 'green' : 'red' %>"></span></td>
                <td><%= status.first %></td>
              </tr>
            <% end %>
            <% i = i + 1 %>
          <% end %>
        </table>
      </div>
      <div class="col-xs-12 text-right">
        <%= link_to "#{t 'refuges.show_more'}", front_refuge_path(refuge) %>
      </div>
    </div>
  </div>
<% end %>