<div class="content-container">

  <h1 class="page-title">
    <b><%= @refuge.name %></b>
    <i class="glyphicon refuge-status glyphicon-certificate <%= refuge_class_status(@refuge) %>"></i>
    <div class="sub-title-refuge">
      <div><%= t 'refuges.coordinator' %>: <%= set_primary_contact @refuge.primary_contact %></div>
      <div><%= "#{t 'refuges.last_update'}: #{last_updated_date(@refuge)}" %></div>
    </div>
  </h1>

  <div class="custom-tabs-line tabs-line-bottom left-aligned">
    <ul class="nav" role="tablist">
      <li class="active"><a href="#analysis-tab" role="tab" data-toggle="tab"><b><%= t "refuges.analysis_tab" %></b></a></li>
      <li><a href="#information-tab" role="tab" data-toggle="tab"><b><%= t "refuges.information_tab" %></b></a></li>
      <li><a href="#contact-tab" role="tab" data-toggle="tab" onclick='initMap(<%= [@refuge.name, @refuge.latitude, @refuge.longitude, @refuge.id, @refuge.city, @refuge.country.name, @refuge.status] %>, "<%= params[:locale] %>")'><b><%= t "refuges.contact_tab" %></b></a></li>
    </ul>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="analysis-tab">
      <%= render 'analysis_tab', refuge: @refuge %>
    </div>
    <div class="tab-pane fade" id="information-tab">
      <%= render 'information_tab', refuge: @refuge %>
    </div>
    <div class="tab-pane fade" id="contact-tab">
      <%= render 'contact_tab', refuge: @refuge %>
    </div>
  </div>

</div>