<div class="header">
  <table>
    <tr>
      <td><%= wicked_pdf_image_tag 'logo-mailer.png' %></td>
      <td>
        <table>
          <tr>
            <td><b>Nombre del refugio:</b></td>
            <td class="td-left-margin"><%= @refuge.name %></td>
          </tr>
          <tr>
            <td><b>Fecha:</b></td>
            <td class="td-left-margin"><%= @refuge.last_questionnaire.state_date.strftime("%d/%m/%Y") %></td>
          </tr>
          <tr>
            <td><b>Coordinador:</b></td>
            <td class="td-left-margin"><%= @refuge.primary_contact.first_name %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
<div class="content">
  <% @refuge.last_questionnaire.responses.includes(question: :entity).group_by{|x| (x.question.entity.second_level? ? x.question.entity.parent : x.question.entity)}.each do |entity| %>
    <br>
    <div class="entity-header">
      <h3><%= entity.first.name %></h3>
    </div>
    <% entity.second.each do |r| %>
      <% question = r.question %>
      <p><b><%= question.text %></b></p>
      <% case question.question_type %>
      <% when "one_choice" %>
        <% question.answers.each do |answer| %>
          <p>
            <%= radio_button_tag "answer_#{answer.id}", answer.id, r.answer_selected_id.include?(answer.id) %>
            <label><%= answer.name %></label>
          </p>
        <% end %>
      <% when "multiple_choice" %>
        <% question.answers.each do |answer| %>
          <p>
            <%= check_box_tag :answer, answer.id, r.answer_selected_id.include?(answer.id) %>
            <label for="answer"><%= answer.name %></label>
          </p>
        <% end %>
      <% else %>
        <p><%= Answer.text_answers_selected(r.answer_selected_id, r.answer_responsed_text) %></p>
      <% end %>
    <% end %>
  <% end %>
</div>