<div id="sidebar-nav" class="sidebar">
  <div id="list-refuges-bar" class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <li><%= link_to "<i class='glyphicon glyphicon-home'></i>Refugio 1".html_safe, { action: "detail", id: 1 }, method: :get, remote: true %></li>
        <li><%= link_to "<i class='glyphicon glyphicon-home'></i>Refugio 2".html_safe, { action: "detail", id: 1 }, method: :get, remote: true %></li>
        <li><%= link_to "<i class='glyphicon glyphicon-home'></i>Refugio 3".html_safe, { action: "detail", id: 1 }, method: :get, remote: true %></li>
        <li><%= link_to "<i class='glyphicon glyphicon-home'></i>Refugio 4".html_safe, { action: "detail", id: 1 }, method: :get, remote: true %></li>
        <li><%= link_to "<i class='glyphicon glyphicon-home'></i>Refugio 5".html_safe, { action: "detail", id: 1 }, method: :get, remote: true %></li>
        <li><%= link_to "<i class='glyphicon glyphicon-home'></i>Refugio 6".html_safe, { action: "detail", id: 1 }, method: :get, remote: true %></li>
        <li><%= link_to "<i class='glyphicon glyphicon-home'></i>Refugio 7".html_safe, { action: "detail", id: 1 }, method: :get, remote: true %></li>
        <li><%= link_to "<i class='glyphicon glyphicon-home'></i>Refugio 8".html_safe, { action: "detail", id: 1 }, method: :get, remote: true %></li>
      </ul>
    </nav>
  </div>
  <%= render 'layouts/detail_bar', refuge: Refuge.first %>
</div>